#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/twitterresearch.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: #6819e8;
  background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
  background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 );
}

.center-vertically {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.center-vertically-holder {
  display: table;
  height: 100%;
}

img {
  border-radius: 50%;
  /*margin: 1px;*/
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#intro {
  display: block;
  margin-left: inherit;
  margin-right: inherit;
}

#salutatorian {
  text-shadow: 1px 1px 1px #292c2f;
}

#top {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#caption1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#completedcourses {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#filler {
  background-image: url("../../assets/img/twitterresearch.png");
}

#stock {
  opacity: 0.5;
}

#right {
  display: block;
  /*margin-right: auto;*/
  margin-left: auto;
}

