#box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/web.jpg);
  background-size: initial;
  background-repeat: round;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/nightseh.jpg);
  background-size: contain;
  background-repeat: round;
  display: block;
  /*background-attachment: fixed;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/vim.jpg);
  background-size: contain;
  background-repeat: round;
  display: table;
  background-attachment: fixed;
}

h1 {
  font-family: arial black;
  font-size: 60px;
  color: white;
  margin: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  display: block;
  margin-right: auto;
}

